{
    "plugins": ["./node_modules/prettier-plugin-blade/"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
